January:
  - January 1 - 5 pushups
  - January 3 - 5 pushups
  - January 5 - 5 pushups
February:
  - February 1 - 10 pushups
  - February 3 - 10 pushups
  - February 5 - 10 pushups
December:
  - December 1 - 15 pushups
  - December 3 - 15 pushups
  - December 5 - 15 pushups
